{% extends 'kileiah/base.html' %}
{% block content %}
	<h1 class="text-center">the amazing game in which one escapes a room</h1>
	<p class="text-center">{{message}}</p>
	{% if has_escaped %}
		<h1 class="text-center">YOU ESCAPE!</h1>
		<br>
		<form method='POST'>
			{% csrf_token %}
			<input type="submit" name='reset' value='reset' class="text-center">
		</form>
		</form>
	{% else %}
		<form method='POST'>
			{% csrf_token %}
			{% if has_name %}
				<input type='textbox' name='action'>
			{% else %}
				<input type='textbox' name='name'>
			{% endif %}
			<input type="submit" name='submit' value='submit'>
			<br>
			<input type="submit" name='reset' value='reset'>
		</form>
	{% endif %}
{% endblock %}
{% block footer %}
	<p class="text-center">a game by kileiah --- june 2017 --- v.0.2</p>
{% endblock %}