{% extends 'kileiah/base.html' %}
{% block content %}
	<h1>you are a hungry caterpillar</h1>
	<h2>time to eat!</h2>
    <h3>pick a thing to eat:</h3>
        <form method='POST'>
        {% csrf_token %}
            <button type='submit' name='food' value="potato"></button>
            <button type='submit' name='food' value="steel"></button>
            <button type='submit' name='food' value="coconut"></button>
            <button type='submit' name='food' value="banana"></button> 
            <button type='submit' name='food' value="horseradish"></button>
            <button type='submit' name='food' value="honey"></button>
            <button type='submit' name='food' value="goop"></button>
            <button type='submit' name='food' value="cherry"></button>
            <button type='submit' name='food' value="bark"></button>
            <button type='submit' name='food' value="chocolate"></button>
            <button type='submit' name='food' value="papaya"></button>
            <button type='submit' name='food' value="loneliness"></button>                        
        </form>
    {% if big %}
        <h3>you are now a butterfly!</h3>
    {% elif eaten %}
    	<h3>you have eaten the following food:</h3>
    	<ul>
    	{% for fud in food %}
    		<li>{{fud}}</li>
    	{% endfor %}
    	</ul>
    {% endif %}
    <form method='POST'>
        {% csrf_token %}
        <br>
        <input type="submit" name='reset' value='begin again'>
    </form>
{% endblock %}