	<h1>You are a hungry caterpillar.</h1>
	<h2>Time to eat!</h2>
    <p>Pick a thing to eat.</p>
    {% if eaten %}
    	<h1>You have eaten!</h1>
    	<h2>The following food items are in your belly!</h2>
    	<ul>
    	{% for fud in food %}
    		<li>{{fud}}</li>
    	{% endfor %}
    	</ul>

    {% else %}
    	<h1>You are very hungry.</h1>
    	<form method='POST'>
    	{% csrf_token %}
    		<button type='submit' name='food' value='potato'><p>potato</p></button>
    		<button type='submit' name='food' value='steel'><p>steel</p></button>
    	</form>
    {% endif %}